# JDT-specific ( Eclipse Java Development Tools)
/.metadata/
/RemoteSystemsTempFiles/
/Servers/
/patterndemos/.classpath
/patterndemos/.project
/patterndemos/.settings
/patterndemos/target/
/.recommenders/
