# JDT-specific ( Eclipse Java Development Tools)
/.metadata/
/RemoteSystemsTempFiles/
/Servers/
/patterndemos/.classpath
/patterndemos/.project
/patterndemos/.settings
/patterndemos/target/
/.recommenders/


/springbootdemos/.classpath
/springbootdemos/.project
/springbootdemos/mvnw
/springbootdemos/mvnw.cmd
/springbootdemos/.mvn/wrapper/maven-wrapper.jar
/springbootdemos/.mvn/wrapper/maven-wrapper.properties




